{# *********************************************
   * POWER Theme Section Services V1.1
   - Animation on Scroll               
   ********************************************* #}

{%- macro get_aos(aos_el) %}
  {%- if theme.animation.aos.is_aos && module.animation.is_aos && aos_el.animation_type != 'none' %}
    {%- if aos_el.animation_type == 'default' %}
      data-aos="{{ theme.animation.aos.animation_type }}"
    {% else %}
      data-aos="{{ aos_el.animation_type }}"
    {% endif -%} 
    {%- if aos_el.delay %}
      data-aos-delay="{{ aos_el.delay }}"
    {% else %}
      data-aos-delay="{{ theme.animation.aos.delay }}"
    {% endif -%}
  {% endif -%}  
{% endmacro -%}

{%- macro random_int(len) -%}
  {%- for _ in range(len) -%}
    {{ range(10) | random }}
  {%- endfor -%}
{%- endmacro -%}

{% set mhID1 = random_int(10) %}
{% set mhID2 = random_int(10) %}

{# style 1 + 2 #}
{% macro get_service_item(service, isLink, href) %}
  {% set elementsInLastRow = loop.length % 3 %}
  {% if elementsInLastRow == 0 %}
    {% set elementsInLastRow = 3 %}
  {% endif %}

  <{% if isLink %}a href="{{ href }}" {% if service.link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} {% if service.link.no_follow %}rel="nofollow"{% endif %}{% else %}div{% endif %} class="pwr-services-item {% if isLink %}pwr-services-item--is-link{% endif %} {% if module.layout.section_variant == 'style-1' %} {% if loop.index > loop.length - elementsInLastRow %}pwr-services-item--last-row{% endif %}{% endif %}"
    {# Animation on Scroll #}
    {{ get_aos(service.animation) }}       
  >
    {# icon or image? #}
    <span class="pwr-services-item__icon" {% if service.style.icon_color.color %}style="color: rgba({{ service.style.icon_color.color|convert_rgb }},{{ service.style.icon_color.opacity|int / 100 }})"{% endif %}>
      {% if service.icon_img.src %}
      <img class="pwr-services-item__img lazyload" data-src="{{ service.icon_img.src }}" alt="{{ service.icon_img.alt }}" width="30" />
      {% elif service.icon %}
      {% icon name="{{ service.icon.name }}" style="{{ service.icon.type }}" unicode="{{ service.icon.unicode }}" %}
      {% endif %}
    </span>
    <span class="pwr-services-item__title" data-mh="{{ mhID1 }}">{{ service.title }}</span>
    <span class="pwr-rich-text pwr-services-item__desc" data-mh="{{ mhID2 }}">{{ service.description }}</span>
    <span class="pwr-services-item__more-link">{% if isLink %}{{ service.translation.txt_link }}<span class="pwr-link-icon pwr--padding-l-sm">{% icon name="arrow-right" style="SOLID" unicode="f061" %}</span>{% else %}&nbsp;{% endif %}</span>
  </{% if isLink %}a{% else %}div{% endif %}>
{% endmacro %}

{# style 3 / box #}
{% macro get_service_box(service, isLink, href) %}
  <div class="pwr-services-box {% if isLink %}pwr-services-item--is-link{% endif %} pwr-touch-btn-container" style="z-index: {{ index }}"
    {# Animation on Scroll #}
    {{ get_aos(service.animation) }}       
  >
    <div class="pwr-3D-box">
    <div class="pwr-services-box__inner pwr-3D-box__sensor pwr-3D-box--shaddow-on-hover pwr--colored-box {% if module.style.overwrite_box_color %}{% if module.style.box_scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %}{% endif %}" {% if module.style.overwrite_box_color && module.style.box_color.color %}style="background-color: rgba({{ module.style.box_color.color|convert_rgb }}, {{ module.style.box_color.opacity|int / 100 }})"{% endif %}>
      <div class="pwr-touch-btn pwr-touch-btn--dark">{{ module.translation.txt_touch }}<span class="pwr-touch-btn__icon"></span></div>
      <div class="pwr-services-box__front pwr-3D-box__info-box">
        {# icon or image #}
        <span class="pwr-services-item__icon" {% if service.style.icon_color.color %}style="color: rgba({{ service.style.icon_color.color|convert_rgb }},{{ service.style.icon_color.opacity|int / 100 }})"{% endif %}>
          {% if service.icon_img.src %}
          <img class="pwr-services-item__img lazyload" data-src="{{ service.icon_img.src }}" alt="{{ service.icon_img.alt }}" width="30" />
          {% elif service.icon %}
          {% icon name="{{ service.icon.name }}" style="{{ service.icon.type }}" unicode="{{ service.icon.unicode }}" %}
          {% endif %}
        </span>
        <span class="pwr-services-item__title">{{ service.title }}</span>
      </div>
      <div class="pwr-services-box__back pwr-3D-box__info-box">
        <span class="pwr-services-item__title">{{ service.title }}</span>
        <span class="pwr-rich-text pwr-services-item__desc">{{ service.description }}</span>
        {% if isLink %}<a href="{{ href }}" {% if service.link.open_in_new_tab %}target="_blank" rel="noopener"{% endif %} {% if service.link.no_follow %}rel="nofollow"{% endif %} class="pwr-services-item__more-link">{{ service.translation.txt_link }}<span class="pwr-link-icon pwr--padding-l-sm">{% icon name="arrow-right" style="SOLID" unicode="f061" %}</span></a>{% endif %}
      </div>      
    </div>
    </div>
    </div>
{% endmacro %}



{% if module.style.background == 'color' && module.style.background_color %}
  {% set bgColor = module.style.background_color.color|convert_rgb %}
  {% set bgOpacity = module.style.background_color.opacity|int %}
  {% set bgOpacity = bgOpacity / 100 %}

{% elif module.style.background == 'img_vid' %}
  {% if module.style.background_image || module.style.background_video || module.style.youtube_link %}
    {% set bgImg = module.style.background_image %}
    {% if module.style.background_video %}
      {% set bgVid = module.style.background_video %}
    {% elif  module.style.youtube_link %}
      {% set isYtVid = true %}
      {% set bgVid = module.style.youtube_link %}
    {% endif %}
    {% set bgImgPos  = module.style.background_position %}
    {% set bgVidPos  = 'pwr-video-background--pos-' + module.style.background_position %}

    {% if module.style.background_image_overlay == 'color' %}
      {% set bgOverlayColor = module.style.overlay_color.color|convert_rgb %}
      {% set bgOverlayOpacity = module.style.overlay_color.opacity|int %}
      {% set bgOverlayOpacity = bgOverlayOpacity / 100 %}

    {% elif module.style.background_image_overlay == 'gradient' %}
      {% set bgGradientDir = module.style.overlay_gradient_direction %}
      {% set bgGradientColor1 = module.style.overlay_gradient_color_1.color %}
      {% set bgGradientColor1Opacity = module.style.overlay_gradient_color_1.opacity|int %}
      {% set bgGradientColor1Opacity = bgGradientColor1Opacity / 100 %}
      {% set bgGradientColor2 = module.style.overlay_gradient_color_2.color %}
      {% set bgGradientColor2Opacity = module.style.overlay_gradient_color_2.opacity|int %}
      {% set bgGradientColor2Opacity = bgGradientColor2Opacity / 100 %}

      {% if module.style.overlay_gradient_opacity < 100 %}
        {% set generalOpacity = module.style.overlay_gradient_opacity / 100 %}
        {% set bgGradientColor1Opacity = 1 %}
        {% set bgGradientColor2Opacity = 1 %}
      {% endif %}
    {% endif %}

  {% endif %}

{% elif module.style.background == 'gradient' && module.style.background_gradient_direction %}
  {% set bgGradientDir = module.style.background_gradient_direction %}
  {% set bgGradientColor1 = module.style.background_gradient_color_1.color %}
  {% set bgGradientColor2 = module.style.background_gradient_color_2.color %}
{% endif %}

{% if bgGradientDir == 'hor' %}
  {% set bgGradientDirMozWeb = 'left' %}
  {% set bgGradientDirStd = 'to right' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'vert' %}
  {% set bgGradientDirMozWeb = 'top' %}
  {% set bgGradientDirStd = 'to bottom' %}
  {% set bgGradientDirIEFb = 0 %}
{% elif bgGradientDir == 'diag_tl_br' %}
  {% set bgGradientDirMozWeb = '-45deg' %}
  {% set bgGradientDirStd = '135deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'diag_bl_tr' %}
  {% set bgGradientDirMozWeb = '45deg' %}
  {% set bgGradientDirStd = '45deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% endif %}

{% if module.anchor_link_id  %}<div class="pwr-anchor" id="{{ module.anchor_link_id }}"></div>{% endif %}
<div class="pwr-sec-services pwr-sec-services--{{ module.layout.section_variant }} {% if module.style.scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %} {{ module.layout.padding_top }} {{ module.layout.padding_bottom }} {% if module.layout.centered %}pwr--align-c{% endif %} lazyload"
      {# Animation on Scroll #}
      {{ get_aos(module.animation.section) }}       
      {% if bgColor %}style="background-color: rgba({{ bgColor }}, {{ bgOpacity }})"
      {% elif bgImg.src && bgImgPos != 'parallax' %}
      {# Lazy load and resposive images for background-image #}           
      data-bgset="{{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_max_size * theme.performance.retina_images.image_retina_scaling_factor) }}"
      data-sizes="auto"
      style="background-size: cover;background-position: {{ bgImgPos }};"
     {% elif bgImg.src && bgImgPos == 'parallax' %}
      style="background-color: transparent;"
     {% elif bgGradientDir %}
      style="
            background: {{ bgGradientColor1 }};
            background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: linear-gradient({{ bgGradientDirStd }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
            "     
     {% endif %}
     >
  {% if bgImg.src && bgImgPos == 'parallax' %}
    <img data-src="{{ bgImg.src }}" class="pwr-parallax lazyload" alt="{{ bgImg.alt }}" width="{% if bgImg.width > 2000 %}2000{% else %}{{ bgImg.width }}{% endif %}">
  {% endif %}
  {% if bgVid %}
  <div class="pwr-video-background {{ bgVidPos }}">
    {% if isYtVid %}
    <div class="pwr-video-background__youtube {% if bgImgPos == 'parallax' %}pwr-parallax{% endif %}">
      <div class="player" data-property="{videoURL:'{{ module.style.youtube_link }}',containment:'self', autoPlay:true, mute:true, showControls: false, useOnMobile: true, playOnlyIfVisible: true}"></div>
    </div>
    {% else %}
    <video autoplay playsinline muted loop src="{{ bgVid }}" class="{% if bgImgPos == 'parallax' %} pwr-parallax{% endif %} lazyload"></video>
    {% endif %}
  </div>
  {% endif %}

  {% if (bgImg.src || bgVid) && module.style.background_image_overlay == 'color' %}
  <div class="pwr--abs-full" style="background-color: rgba({{ bgOverlayColor }}, {{ bgOverlayOpacity }})"></div>
  {% elif (bgImg.src || bgVid) && module.style.background_image_overlay == 'gradient' %}
  <div class="pwr--abs-full" style="
            background: {{ bgGradientColor1 }};
            background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, rgba({{ bgGradientColor1|convert_rgb }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
            background: linear-gradient({{ bgGradientDirStd }}, rgba({{ bgGradientColor1|convert_rgb  }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
            opacity: {{ generalOpacity }};
            "></div>
  {% endif %}
  <div class="page-center pwr--relative">
    {% if module.intro_to_title || module.title || module.description %}
    <div class="pwr-sec-services__intro-sec">
      {% if module.intro_to_title %}
      <span class="pwr-sec__title-intro pwr-sec__title-intro--narrow pwr-sec-services__title-intro"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.intro_to_title) }}       
        >
        {{ module.intro_to_title }}
      </span>
      {% endif %}
      {% if module.title_sel_heading && module.title %}
      <{{ module.title_sel_heading }} class="pwr-sec__title pwr-sec__title--narrow pwr-sec-services__title" 
        {# Animation on Scroll #}
        {{ get_aos(module.animation.title) }}       
        >{{ module.title }}</{{ module.title_sel_heading }}>
      {% endif %}
      {% if module.description %}
      <span class="pwr-rich-text pwr-sec__desc pwr-sec-services__desc"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.description) }}       
        >
        {{ module.description }}
      </span>
      {% endif %}
    </div>
    {% endif %}
    <div class="row-fluid">
      <div class="span12 pwr--clearfix">
        <div class="pwr-services pwr-services--{{ module.layout.section_variant }} {% if module.layout.section_variant == 'style-3' %}pwr--neg-margin-lr-10{% endif %}">

        {% for service in module.services %}
          
          {% if service.link.url.href %}
            {% set isLink = true %}
            {% set href = service.link.url.href %}
            {% if service.link.url.type == "EMAIL_ADDRESS" %}
             {% set href = "mailto:" + href %}
            {% endif %}            
          {% else %}
            {% set isLink = false %}
          {% endif %}
          
          {% if module.layout.section_variant == 'style-1' || module.layout.section_variant == 'style-2' %}
            {{ get_service_item(service, isLink, href) }}
          {% elif module.layout.section_variant == 'style-3' %}
            {{ get_service_box(service, isLink, href) }}
          {% endif %}
        {% endfor %}
        </div>
      </div>    
    </div>
  </div>
</div>
