{# *********************************************
   * POWER Theme Section Testimonial V1.1               
   - Animation on Scroll               
   ********************************************* #}

{%- macro get_aos(aos_el) %}
  {%- if theme.animation.aos.is_aos && module.animation.is_aos && aos_el.animation_type != 'none' %}
    {%- if aos_el.animation_type == 'default' %}
      data-aos="{{ theme.animation.aos.animation_type }}"
    {% else %}
      data-aos="{{ aos_el.animation_type }}"
    {% endif -%} 
    {%- if aos_el.delay %}
      data-aos-delay="{{ aos_el.delay }}"
    {% else %}
      data-aos-delay="{{ theme.animation.aos.delay }}"
    {% endif -%}
  {% endif -%}  
{% endmacro -%}

{% if module.style.background == 'color' && module.style.background_color %}
  {% set bgColor = module.style.background_color.color|convert_rgb %}
  {% set bgOpacity = module.style.background_color.opacity|int %}
  {% set bgOpacity = bgOpacity / 100 %}

{% elif module.style.background == 'img_vid' %}
  {% if module.style.background_image || module.style.background_video || module.style.youtube_link %}
    {% set bgImg = module.style.background_image %}
    {% if module.style.background_video %}
      {% set bgVid = module.style.background_video %}
    {% elif  module.style.youtube_link %}
      {% set isYtVid = true %}
      {% set bgVid = module.style.youtube_link %}
    {% endif %}
    {% set bgImgPos  = module.style.background_position %}
    {% set bgVidPos  = 'pwr-video-background--pos-' + module.style.background_position %}

    {% if module.style.background_image_overlay == 'color' %}
      {% set bgOverlayColor = module.style.overlay_color.color|convert_rgb %}
      {% set bgOverlayOpacity = module.style.overlay_color.opacity|int %}
      {% set bgOverlayOpacity = bgOverlayOpacity / 100 %}

    {% elif module.style.background_image_overlay == 'gradient' %}
      {% set bgGradientDir = module.style.overlay_gradient_direction %}
      {% set bgGradientColor1 = module.style.overlay_gradient_color_1.color %}
      {% set bgGradientColor1Opacity = module.style.overlay_gradient_color_1.opacity|int %}
      {% set bgGradientColor1Opacity = bgGradientColor1Opacity / 100 %}
      {% set bgGradientColor2 = module.style.overlay_gradient_color_2.color %}
      {% set bgGradientColor2Opacity = module.style.overlay_gradient_color_2.opacity|int %}
      {% set bgGradientColor2Opacity = bgGradientColor2Opacity / 100 %}

      {% if module.style.overlay_gradient_opacity < 100 %}
        {% set generalOpacity = module.style.overlay_gradient_opacity / 100 %}
        {% set bgGradientColor1Opacity = 1 %}
        {% set bgGradientColor2Opacity = 1 %}
      {% endif %}
    {% endif %}

  {% endif %}

{% elif module.style.background == 'gradient' && module.style.background_gradient_direction %}
  {% set bgGradientDir = module.style.background_gradient_direction %}
  {% set bgGradientColor1 = module.style.background_gradient_color_1.color %}
  {% set bgGradientColor2 = module.style.background_gradient_color_2.color %}
{% endif %}

{% if bgGradientDir == 'hor' %}
  {% set bgGradientDirMozWeb = 'left' %}
  {% set bgGradientDirStd = 'to right' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'vert' %}
  {% set bgGradientDirMozWeb = 'top' %}
  {% set bgGradientDirStd = 'to bottom' %}
  {% set bgGradientDirIEFb = 0 %}
{% elif bgGradientDir == 'diag_tl_br' %}
  {% set bgGradientDirMozWeb = '-45deg' %}
  {% set bgGradientDirStd = '135deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'diag_bl_tr' %}
  {% set bgGradientDirMozWeb = '45deg' %}
  {% set bgGradientDirStd = '45deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% endif %}

{% if module.anchor_link_id  %}<div class="pwr-anchor" id="{{ module.anchor_link_id }}"></div>{% endif %}
<div class="pwr-sec-testimonials {% if module.layout.section_variant == '2cols' or module.layout.section_variant == '3cols' %}pwr-js-masonry {% endif %}{% if  module.layout.section_variant == 'multiple' %}pwr-sec-testimonials--style-multiple{% endif %} {% if module.style.scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %} {{ module.layout.padding_top }} {{ module.layout.padding_bottom }} lazyload"
      {# Animation on Scroll #}
      {{ get_aos(module.animation.section) }}       
      {% if bgColor %}style="background-color: rgba({{ bgColor }}, {{ bgOpacity }})"
      {% elif bgImg.src && bgImgPos != 'parallax' %}
      {# Lazy load and resposive images for background-image #}           
      data-bgset="{{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
                  {{ resize_image_url(bgImg.src,theme.performance.images.image_max_size * theme.performance.retina_images.image_retina_scaling_factor) }}"
      data-sizes="auto"
      style="background-size: cover;background-position: {{ bgImgPos }};"
      {% elif bgImg.src && bgImgPos == 'parallax' %}
      style="background-color: transparent;"
      {% elif bgGradientDir %}
      style="
            background: {{ bgGradientColor1 }};
            background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: linear-gradient({{ bgGradientDirStd }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
            "     
     {% endif %}
     >
  {% if bgImg.src && bgImgPos == 'parallax' %}
    <img data-src="{{ bgImg.src }}" class="pwr-parallax lazyload" alt="{{ bgImg.alt }}" width="{% if bgImg.width > 2000 %}2000{% else %}{{ bgImg.width }}{% endif %}">
  {% endif %}
  {% if bgVid %}
  <div class="pwr-video-background {{ bgVidPos }}">
    {% if isYtVid %}
    <div class="pwr-video-background__youtube {% if bgImgPos == 'parallax' %}pwr-parallax{% endif %}">
      <div class="player" data-property="{videoURL:'{{ module.style.youtube_link }}',containment:'self', autoPlay:true, mute:true, showControls: false, useOnMobile: true, playOnlyIfVisible: true}"></div>
    </div>
    {% else %}
    <video autoplay playsinline muted loop src="{{ bgVid }}" class="{% if bgImgPos == 'parallax' %} pwr-parallax{% endif %} lazyload"></video>
    {% endif %}
  </div>
  {% endif %}

  {% if (bgImg.src || bgVid) && module.style.background_image_overlay == 'color' %}
  <div class="pwr--abs-full" style="background-color: rgba({{ bgOverlayColor }}, {{ bgOverlayOpacity }})"></div>
  {% elif (bgImg.src || bgVid) && module.style.background_image_overlay == 'gradient' %}
  <div class="pwr--abs-full" style="
            background: {{ bgGradientColor1 }};
            background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, rgba({{ bgGradientColor1|convert_rgb }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
            background: linear-gradient({{ bgGradientDirStd }}, rgba({{ bgGradientColor1|convert_rgb  }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
            opacity: {{ generalOpacity }};
            "></div>
  {% endif %}
  <div class="page-center pwr--relative">
    {% if module.intro_to_title || module.title || module.description %}
    <div class="pwr-sec-testimonials__intro-sec {% if module.layout.section_variant == 'multiple' %}pwr-sec-testimonials__intro-sec--style-multiple{% endif %} {% if module.layout.intro_centered %}pwr--align-c{% endif %}">
      {% if module.intro_to_title %}
      <span class="pwr-sec__title-intro pwr-sec__title-intro--narrow pwr-sec-testimonials__title-intro"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.intro_to_title) }}       
        >
        {{ module.intro_to_title }}
      </span>
      {% endif %}
      {% if module.title_sel_heading && module.title %}
      <{{ module.title_sel_heading }} class="pwr-sec__title pwr-sec__title--narrow pwr-sec-testimonials__title"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.title) }}       
        >{{ module.title }}</{{ module.title_sel_heading }}>{% endif %}
      {% if module.description %}
      <span class="pwr-rich-text pwr-sec__desc pwr-sec-testimonials__desc {% if  module.layout.section_variant == 'one_by_one_style2' %}pwr-sec-testimonials__desc--style-2{% endif %}"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.description) }}       
        >      
        {{ module.description }}
      </span>
      {% endif %}
    </div>
    {% endif %}
  </div>


  {% if module.layout.section_variant == 'multiple' or module.layout.section_variant == 'one_by_one' or module.layout.section_variant == 'one_by_one_style2'%}  
  <div class="{% if module.layout.section_variant != 'multiple' %}page-center{% endif %} pwr--relative">
    <div class="pwr-sec-testimonials__slider pwr--relative" {% if  module.layout.section_variant == 'multiple' %}data-multiple="true"{% endif %} data-autoplay="{{ module.slider.autoplay }}" data-autoplay-timeout="{{ module.slider.autoplay_time }}" data-nav-arrows="{{ module.slider.nav_arrows }}" data-nav-bullets="{{ module.slider.nav_bullets }}">
      <div class="pwr-owl owl-carousel">
        {% for testimonial in module.testimonial %}
          <div class="pwr-testimonial {% if  module.layout.section_variant == 'multiple' %}pwr-testimonial--style-multiple pwr--colored-box {% if module.style.overwrite_box_color %}{% if module.style.box_scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %}{% endif %} {% elif  module.layout.section_variant == 'one_by_one_style2' %}pwr-testimonial--style-2{% endif %}" {% if module.layout.section_variant == 'multiple' && module.style.overwrite_box_color && module.style.box_color.color %}style="background-color: rgba({{ module.style.box_color.color|convert_rgb }}, {{ module.style.box_color.opacity|int / 100 }})"{% endif %}
            {# Animation on Scroll #}
            {{ get_aos(testimonial.animation) }}       
          >
            {% if  module.layout.section_variant != 'multiple' %}<div class="pwr-rich-text pwr-testimonial__quote">{{ testimonial.quote }}</div>{% endif %}
            <div class="pwr-testimonial__author">
              {% if testimonial.avatar.src %}
              <div class="pwr-avatar pwr-avatar--valign pwr-testimonial__avatar">
                <div class="pwr-avatar__round pwr-avatar__small">
                  <img class="pwr-avatar__img lazyload" data-src="{{ testimonial.avatar.src }}" alt="{{ testimonial.avatar.alt }}" width="70" height="70" />
                </div>
              </div>
              {% endif %}
              <div class="pwr-testimonial__info">
                <span class="pwr-testimonial__name">{{ testimonial.name_ }}</span>
                <span class="pwr-testimonial__job-title">{{ testimonial.job_title }}</span>
              </div>
            </div>
            {% if  module.layout.section_variant == 'multiple' %}<div class="pwr-rich-text pwr-testimonial__quote">{{ testimonial.quote }}</div>{% endif %}            
          </div>
        {% endfor %}
      </div>
      {% if module.testimonial | length > 1 %}
      <div class="pwr-owl-nav">
        <span class="pwr-owl-nav__prev pwr-icon">
          <svg version="1.1" id="arrow_left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 15 25" xml:space="preserve">
          <polygon points="12,24.7 0,12.3 12,0 13.4,1.4 2.8,12.3 13.4,23.3 "/>
          </svg>
        </span>
        <span class="pwr-owl-nav__next pwr-icon">
          <svg version="1.1" id="arrow_right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 15 25" xml:space="preserve">
            <polygon points="1.4,24.7 13.4,12.3 1.4,0 0,1.4 10.6,12.3 0,23.3 "/>
          </svg>
        </span>            
      </div>
      {% endif %}
    </div> 
  </div>

  {% elif module.layout.section_variant == '2cols' or module.layout.section_variant == '3cols' %}
    {%- set final_cats = [] -%}
      {%- for testimonial in module.testimonial -%}
        {% if testimonial.filtering.cats %}
          {% set cats = testimonial.filtering.cats|split(',') %}
          {% for cat in cats %}
          {%- do final_cats.append(cat|trim) -%}
          {% endfor %}
        {% endif %}
      {%- endfor -%}
    {% set final_cats = final_cats|unique %}
      
    {% if final_cats|length > 0 %}
      {% if module.style.style_filter %}
    <div class="pwr-filter pwr-filter--margin {% if module.style.filter_color_scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %}" {% if module.style.filter_color.color %}style="background-color: rgba({{ module.style.filter_color.color|convert_rgb }}, {{ module.style.filter_color.opacity|int / 100 }})"{% endif %}>
      {% else %}
    <div class="pwr-filter {% if module.title_sel_heading && module.title %}pwr--padding-t-0{% endif %}" >
      {% endif %}
      <div class="page-center pwr--relative">
        <ul class="pwr-filter__list"
          {# Animation on Scroll #}
          {{ get_aos(module.animation.filter) }}       
        >
          {% if module.is_filter_cat_all %}
          <li class="pwr-filter__list-item"> 
            <a href="#all" class="pwr-filter__link pwr-js-filter__link {% if module.filter_active_category|lower == "all" || module.filter_active_category|trim == "" || !module.filter_active_category %}active{% endif %}">{{ module.translation.txt_all }}</a>
          </li>
          {% endif %}
          {% for cat in final_cats %}
          <li class="pwr-filter__list-item">
            <a href="#{{ cat|replace(' ','_')|lower }}" class="pwr-filter__link pwr-js-filter__link {% if module.filter_active_category|lower == cat|lower %}active{% endif %}">{{ cat }}</a>
          </li>
          {% endfor %}    
        </ul>
      </div>
    </div>
    {% endif %}
        
    <div class="page-center pwr--relative">
      <div class="row-fluid">
        <div class="span12">
          <div class="pwr-sec-testimonials-listing__container pwr-js-masonry__container pwr--align-l pwr--clearfix" {% if module.filter_active_category %}data-filter="{{ module.filter_active_category|trim|replace(' ','_')|lower }}"{% endif %} >
          {% for testimonial in module.testimonial %}
            
            {% set cat_classes = undefined %}
            {% if final_cats|length > 0 %}
              {% set cat_classes = [] %}
              {% set box_cats = testimonial.filtering.cats|split(',') %}
              {% for cat in box_cats %}
                {%- do cat_classes.append(cat|trim|replace(' ','_')|lower) -%}
              {% endfor %}
              {% set cat_classes = cat_classes|join(' ') %}
            {% endif %}
            
            <div class="pwr-testimonial pwr-testimonial--style-multiple pwr-testimonial-listing-item {% if module.style.overwrite_box_color %}{% if module.style.box_scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %}{% endif %} {% if module.layout.section_variant == '3cols' %}pwr-testimonial-listing-item--3cols{% else %}pwr-testimonial-listing-item--2cols{% endif %} pwr-js-masonry__item pwr--colored-box {% if cat_classes %}{{ cat_classes }}{% endif %}" {% if module.style.overwrite_box_color && module.style.box_color.color %}style="background-color: rgba({{ module.style.box_color.color|convert_rgb }}, {{ module.style.box_color.opacity|int / 100 }})"{% endif %}
              {# Animation on Scroll #}
              {{ get_aos(testimonial.animation) }}       
            >
              <div class="pwr-testimonial__author">
                {% if testimonial.avatar.src %}
                <div class="pwr-avatar pwr-avatar--valign pwr-testimonial__avatar">
                  <div class="pwr-avatar__round pwr-avatar__small">
                    <img class="pwr-avatar__img" src="{{ testimonial.avatar.src }}" alt="{{ testimonial.avatar.alt }}" width="70" height="70" />
                  </div>
                </div>
                {% endif %}
                <div class="pwr-testimonial__info">
                  <span class="pwr-testimonial__name">{{ testimonial.name_ }}</span>
                  <span class="pwr-testimonial__job-title">{{ testimonial.job_title }}</span>
                </div>
              </div>
              <div class="pwr-rich-text pwr-testimonial__quote">{{ testimonial.quote }}</div>        
            </div>
          {% endfor %}  
          </div>
        </div>    
      </div>
    </div>

  {%endif%}

  
</div>