#modal-input {
  border: 1px solid #003B87;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 16px;
  margin-bottom: 24px;
  width: 100%;
}

.doodle-rotation{
 animation: doodleRotate 15s linear infinite;
}
@keyframes doodleRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.modal-title{
  font-family: 'Josefin Sans';
  font-weight: 700; 
  text-align: left; 
  text-transform: uppercase; 
  font-size: 16px;
  line-height:24px;
  letter-spacing:1.6px;
  color: #003B87;
  margin-bottom: 8px;
}

.modal-subtitle{
  font-family: 'Otterco';
  font-weight: 700; 
  font-style: italic;
  text-align: left; 
  text-transform: uppercase; 
  font-size: 32px;
  line-height:32px;
  letter-spacing:3.2px;
  color: #F85245;
  padding-bottom:24px;
}

@media screen and (max-width: 768px) {
  #modal-input {
    padding: 10px 12px;
    margin-bottom: 16px;
  }
}