{# *********************************************
   * POWER Theme Hero V1.2
   - Typewriter           
   - Animation on Scroll    
   ********************************************* #}

{%- macro get_aos(aos_el) %}
  {%- if theme.animation.aos.is_aos && module.animation.is_aos && aos_el.animation_type != 'none' %}
    {%- if aos_el.animation_type == 'default' %}
      data-aos="{{ theme.animation.aos.animation_type }}"
    {% else %}
      data-aos="{{ aos_el.animation_type }}"
    {% endif -%} 
    {%- if aos_el.delay %}
      data-aos-delay="{{ aos_el.delay }}"
    {% else %}
      data-aos-delay="{{ theme.animation.aos.delay }}"
    {% endif -%}
  {% endif -%}  
{% endmacro -%}

{% if module.style.background == 'color' && module.style.background_color %}
  {% set bgColor = module.style.background_color.color|convert_rgb %}
  {% set bgOpacity = module.style.background_color.opacity|int %}
  {% set bgOpacity = bgOpacity / 100 %}

{% elif module.style.background == 'img_vid' %}
  {% if module.style.background_image || module.style.background_video || module.style.youtube_link %}
    {% set bgImg = module.style.background_image %}
    {% if module.style.background_video %}
      {% set bgVid = module.style.background_video %}
    {% elif  module.style.youtube_link %}
      {% set isYtVid = true %}
      {% set bgVid = module.style.youtube_link %}
    {% endif %}
    {% set bgImgPos  = module.style.background_position %}
    {% set bgVidPos  = 'pwr-video-background--pos-' + module.style.background_position %}
    {% set bgColorFb = module.style.background_color_fallback.color|convert_rgb %}
    {% set bgOpacityFb = module.style.background_color_fallback.opacity|int %}
    {% set bgOpacityFb = bgOpacityFb / 100 %}

    {% if module.style.background_image_overlay == 'color' %}
      {% set bgOverlayColor = module.style.overlay_color.color|convert_rgb %}
      {% set bgOverlayOpacity = module.style.overlay_color.opacity|int %}
      {% set bgOverlayOpacity = bgOverlayOpacity / 100 %}

    {% elif module.style.background_image_overlay == 'gradient' %}
      {% set bgGradientDir = module.style.overlay_gradient_direction %}
      {% set bgGradientColor1 = module.style.overlay_gradient_color_1.color %}
      {% set bgGradientColor1Opacity = module.style.overlay_gradient_color_1.opacity|int %}
      {% set bgGradientColor1Opacity = bgGradientColor1Opacity / 100 %}
      {% set bgGradientColor2 = module.style.overlay_gradient_color_2.color %}
      {% set bgGradientColor2Opacity = module.style.overlay_gradient_color_2.opacity|int %}
      {% set bgGradientColor2Opacity = bgGradientColor2Opacity / 100 %}

      {% if module.style.overlay_gradient_opacity < 100 %}
        {% set generalOpacity = module.style.overlay_gradient_opacity / 100 %}
        {% set bgGradientColor1Opacity = 1 %}
        {% set bgGradientColor2Opacity = 1 %}
      {% endif %}
    {% endif %}

  {% endif %}
{% elif module.style.background == 'gradient' && module.style.background_gradient_direction %}
  {% set bgGradientDir = module.style.background_gradient_direction %}
  {% set bgGradientColor1 = module.style.background_gradient_color_1.color %}
  {% set bgGradientColor2 = module.style.background_gradient_color_2.color %}
{% endif %}

{% if bgGradientDir == 'hor' %}
  {% set bgGradientDirMozWeb = 'left' %}
  {% set bgGradientDirStd = 'to right' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'vert' %}
  {% set bgGradientDirMozWeb = 'top' %}
  {% set bgGradientDirStd = 'to bottom' %}
  {% set bgGradientDirIEFb = 0 %}
{% elif bgGradientDir == 'diag_tl_br' %}
  {% set bgGradientDirMozWeb = '-45deg' %}
  {% set bgGradientDirStd = '135deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'diag_bl_tr' %}
  {% set bgGradientDirMozWeb = '45deg' %}
  {% set bgGradientDirStd = '45deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% endif %}

<div class="pwr-hero {% if module.layout.header_height && !blog_author %}pwr-hero--{{ module.layout.header_height }}{% endif %} {% if blog_author %}pwr-hero--x-small{% endif %} {% if module.style.scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %} lazyload"
      {# Animation on Scroll #}
      {{ get_aos(module.animation.section) }}       
      {% if bgColor %}style="background-color: rgba({{ bgColor }}, {{ bgOpacity }})"
      {% elif bgImg.src && bgImgPos != 'parallax' %}
        {# Lazy load and resposive images for background-image #}
        {% if module.style.background_image_mobile.src %}
        data-bgset="{{ resize_image_url(module.style.background_image_mobile.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(module.style.background_image_mobile.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] |   
        {% else %}
        data-bgset="{{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] | 
        {% endif %}
        {% if module.style.background_image_tablet.src %}
                    {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                    {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                    {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(module.style.background_image_tablet.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
        {%else%}    
                    {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                    {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                    {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
        {%endif%}
                    {{ resize_image_url(bgImg.src,theme.performance.images.image_max_size * theme.performance.retina_images.image_retina_scaling_factor) }}"
        data-sizes="auto"
      style="
             {% if !blog_author -%}
             background-size: cover;
             background-position: {{ bgImgPos }};
             {% endif -%}
             {% if bgColorFb %}background-color: rgba({{ bgColorFb }}, {{ bgOpacityFb }}){% endif %}
            "
     {% elif bgImg.src && bgImgPos == 'parallax' %}
      style="background-color: transparent;"
     {% elif bgGradientDir %}
      style="
            background: {{ bgGradientColor1 }};
            background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            background: linear-gradient({{ bgGradientDirStd }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
            "     
     {% endif %}
     >
  {% if bgImg.src && bgImgPos == 'parallax' %}
    <img data-src="{{ bgImg.src }}" class="pwr-parallax lazyload" alt="{{ bgImg.alt }}" width="{% if bgImg.width > 2000 %}2000{% else %}{{ bgImg.width }}{% endif %}">
  {% endif %}
  {% if bgVid %}
  <div class="pwr-video-background {{ bgVidPos }}">
    {% if isYtVid %}
    <div class="pwr-video-background__youtube {% if bgImgPos == 'parallax' %}pwr-parallax{% endif %}">
      <div class="player" data-property="{videoURL:'{{ module.style.youtube_link }}',containment:'self', autoPlay:true, mute:true, showControls: false, useOnMobile: true, playOnlyIfVisible: true}"></div>
    </div>
    {% else %}
    <video autoplay playsinline muted loop src="{{ bgVid }}" class="{% if bgImgPos == 'parallax' %} pwr-parallax{% endif %} lazyload"></video>
    {% endif %}
  </div>
  {% endif %}

  {% if (bgImg.src || bgVid) && module.style.background_image_overlay == 'color' && !blog_author %}
  <div class="pwr--abs-full" style="background-color: rgba({{ bgOverlayColor }}, {{ bgOverlayOpacity }})"></div>
  {% elif (bgImg.src || bgVid) && module.style.background_image_overlay == 'gradient' && !blog_author %}
  <div class="pwr--abs-full" style="
                                       background: {{ bgGradientColor1 }};
                                       background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                                       background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, rgba({{ bgGradientColor1|convert_rgb }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                       background: linear-gradient({{ bgGradientDirStd }}, rgba({{ bgGradientColor1|convert_rgb  }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
                                       opacity: {{ generalOpacity }};
                                       "></div>
  {% endif %}
  <div class="{% if !module.layout.full_width %}page-center {% endif %}pwr-hero__info-box {% if module.layout.centered %}pwr-hero__info-box--centered{% endif %}">
    {% if blog_author -%}
      <h1 class="pwr-hero__title">{{ blog_author.display_name }}</h1>
    {% else %}
      {% if module.title_sel_heading && ( module.title || (module.typewriter && module.typewriter_text|length > 0) ) %}
        <{{ module.title_sel_heading }} class="pwr-hero__title {% if module.style.title_extra_large %}pwr-hero__title--extra-large{% endif %} pwr--toc-ignore" 
          {# Animation on Scroll #}
          {{ get_aos(module.animation.title) }}       
          >{{ module.title }}{% if module.typewriter %}<span id="typewriter"></span>{% endif %}</{{ module.title_sel_heading }}>
      {% endif %}
      {% for item in module.basic_info %}
          <div class="pwr-hero__basic-info"
            {# Animation on Scroll #}
            {{ get_aos(item.animation) }}       
            >
            <span class="pwr-hero__icon">{% icon name="{{ item.icon.name }}" style="{{ item.icon.type }}" unicode="{{ item.icon.unicode }}" %}</span>
            {{ item.info }}
          </div>
      {% endfor %}
      {% if module.description %}
        <div class="pwr-rich-text pwr-hero__desc {% if module.style.desc_large %}pwr-hero__desc--larger{% endif %}"
          {# Animation on Scroll #}
          {{ get_aos(module.animation.description) }}       
          >
          {{ module.description }}
        </div>
      {% endif %}
      {% if module.btn_type == 'cta' && module.ctas|length > 0 %}
      <div class="pwr-cta-container pwr-hero__cta-container pwr--clearfix"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.button) }}       
        >
        <div class="pwr--neg-margin-lr-10">
          {% for cta in module.ctas %}
          <div class="pwr-cta-container__cta pwr-hero__cta pwr-cta {{ module.style.cta_style }} {{ module.style.cta_size }}">{% cta "name" guid="{{cta}}" %}</div>
          {% endfor %}
        </div>
      </div>
      {% elif module.btn_type == 'btn' && module.btns|length > 0 %}
      <div class="pwr-cta-container pwr-hero__cta-container pwr--clearfix"
        {# Animation on Scroll #}
        {{ get_aos(module.animation.button) }}       
        >
        <div class="pwr--neg-margin-lr-10">
          {% for btn in module.btns %}
          <div class="pwr-cta-container__cta pwr-hero__cta pwr-cta {{ module.style.cta_style }} {{ module.style.cta_size }}">
            <a class="cta_button" {% if btn.link.url.href %}href="{% if btn.link.url.type == "EMAIL_ADDRESS" %}mailto:{% endif %}{{ btn.link.url.href }}"{% endif %} {% if btn.link.no_follow %}rel="nofollow"{% endif %} {% if btn.link.open_in_new_tab %}target="_blank"{% endif %} rel="noopener" title="Button {{ btn.title }}">{{ btn.title }}</a>                    
          </div>
          {% endfor %}
        </div>
      </div>  
      {% endif %}
    {% endif %}
  </div>
</div>

{% if module.typewriter %}
  <script type="text/javascript">
    var typewriterJSON = {
      {% for text in module.typewriter_text %}
        {% if loop.last %}
          "typewriter_text_{{ loop.index }}": "{{ text|escapejson }}"
        {% else %}
          "typewriter_text_{{ loop.index }}": "{{ text|escapejson }}",
        {% endif %}
      {% endfor %}
    };  
  </script>
{% endif %}