{# *********************************************
   * POWER THEME Blog Post Header V1.0
   ********************************************* #}

{%- macro get_min_by_words(words) %}
  {%- set avgWordPerMin = 130 %}
  {%- set wordCount = words | wordcount %}
  {%- set minutes = wordCount // avgWordPerMin %}
  {%- if minutes == 0 %}
    {%- set minutes = "< 1" %}
  {% endif -%}
  {{ minutes }}
{% endmacro -%}

{% if module.style.background == 'color' && module.style.background_color %}
  {% set bgColor = module.style.background_color.color|convert_rgb %}
  {% set bgOpacity = module.style.background_color.opacity|int %}
  {% set bgOpacity = bgOpacity / 100 %}

{% elif module.style.background == 'img_vid' %}
  {% if module.style.background_image || module.style.background_video || module.style.youtube_link || content.featured_image %}
    {% if module.style.background_image.src %}
      {% set bgImg = module.style.background_image %}
    {% elif content.featured_image %}
      {% set bgImg = {src: content.featured_image, alt: content.featured_image_alt_text} %}
    {% endif %}
    {% if module.style.background_video %}
      {% set bgVid = module.style.background_video %}
    {% elif  module.style.youtube_link %}
      {% set isYtVid = true %}
      {% set bgVid = module.style.youtube_link %}
    {% endif %}
    {% set bgImgPos  = module.style.background_position %}
    {% set bgVidPos  = 'pwr-video-background--pos-' + module.style.background_position %}

    {% if module.style.background_image_overlay == 'color' %}
      {% set bgOverlayColor = module.style.overlay_color.color|convert_rgb %}
      {% set bgOverlayOpacity = module.style.overlay_color.opacity|int %}
      {% set bgOverlayOpacity = bgOverlayOpacity / 100 %}

    {% elif module.style.background_image_overlay == 'gradient' %}
      {% set bgGradientDir = module.style.overlay_gradient_direction %}
      {% set bgGradientColor1 = module.style.overlay_gradient_color_1.color %}
      {% set bgGradientColor1Opacity = module.style.overlay_gradient_color_1.opacity|int %}
      {% set bgGradientColor1Opacity = bgGradientColor1Opacity / 100 %}
      {% set bgGradientColor2 = module.style.overlay_gradient_color_2.color %}
      {% set bgGradientColor2Opacity = module.style.overlay_gradient_color_2.opacity|int %}
      {% set bgGradientColor2Opacity = bgGradientColor2Opacity / 100 %}

      {% if module.style.overlay_gradient_opacity < 100 %}
        {% set generalOpacity = module.style.overlay_gradient_opacity / 100 %}
        {% set bgGradientColor1Opacity = 1 %}
        {% set bgGradientColor2Opacity = 1 %}
      {% endif %}
    {% endif %}

  {% endif %}

{% elif module.style.background == 'gradient' && module.style.background_gradient_direction %}
  {% set bgGradientDir = module.style.background_gradient_direction %}
  {% set bgGradientColor1 = module.style.background_gradient_color_1.color %}
  {% set bgGradientColor2 = module.style.background_gradient_color_2.color %}
{% endif %}

{% if bgGradientDir == 'hor' %}
  {% set bgGradientDirMozWeb = 'left' %}
  {% set bgGradientDirStd = 'to right' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'vert' %}
  {% set bgGradientDirMozWeb = 'top' %}
  {% set bgGradientDirStd = 'to bottom' %}
  {% set bgGradientDirIEFb = 0 %}
{% elif bgGradientDir == 'diag_tl_br' %}
  {% set bgGradientDirMozWeb = '-45deg' %}
  {% set bgGradientDirStd = '135deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% elif bgGradientDir == 'diag_bl_tr' %}
  {% set bgGradientDirMozWeb = '45deg' %}
  {% set bgGradientDirStd = '45deg' %}
  {% set bgGradientDirIEFb = 1 %}
{% endif %}

<div class="pwr-post-header {% if module.style.scheme == 'dark' %}pwr--dark{% else %}pwr--light{% endif %}">
  {% if module.layout.section_variant == 'full' %}
    <div class="pwr-hero pwr-hero--small lazyload"
         {% if bgColor %}style="background-color: rgba({{ bgColor }}, {{ bgOpacity }})"
          {% elif bgImg.src && bgImgPos != 'parallax' %}
          {# Lazyload for backgroundImage on the Left #}           
          data-bgset="{{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] | 
                      {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                      {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                      {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
                      {{ resize_image_url(bgImg.src,theme.performance.images.image_max_size * theme.performance.retina_images.image_retina_scaling_factor) }}"
          data-sizes="auto"
          style="background-size: cover;background-position: {{ bgImgPos }};"
         {% elif bgImg.src && bgImgPos == 'parallax' %}
          style="background-color: transparent;"
         {% elif bgGradientDir %}
          style="
                background: {{ bgGradientColor1 }};
                background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                background: linear-gradient({{ bgGradientDirStd }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
                "     
         {% endif %}
         >
      {% if bgImg.src && bgImgPos == 'parallax' %}
        <img data-src="{{ bgImg.src }}" class="pwr-parallax lazyload" alt="{{ bgImg.alt }}" width="{% if bgImg.width > 2000 %}2000{% else %}{{ bgImg.width }}{% endif %}">
      {% endif %}
      {% if bgVid %}
      <div class="pwr-video-background {{ bgVidPos }}">
        {% if isYtVid %}
        <div class="pwr-video-background__youtube {% if bgImgPos == 'parallax' %}pwr-parallax{% endif %}">
          <div class="player" data-property="{videoURL:'{{ module.style.youtube_link }}',containment:'self', autoPlay:true, mute:true, showControls: false, useOnMobile: true}"></div>
        </div>
        {% else %}
        <video autoplay playsinline muted loop src="{{ bgVid }}" class="{% if bgImgPos == 'parallax' %} pwr-parallax{% endif %} lazyload"></video>
        {% endif %}
      </div>
      {% endif %}

      {% if (bgImg.src || bgVid) && module.style.background_image_overlay == 'color' %}
      <div class="pwr--abs-full" style="background-color: rgba({{ bgOverlayColor }}, {{ bgOverlayOpacity }})"></div>
      {% elif (bgImg.src || bgVid) && module.style.background_image_overlay == 'gradient' %}
      <div class="pwr--abs-full" style="
                                           background: {{ bgGradientColor1 }};
                                           background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                                           background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, rgba({{ bgGradientColor1|convert_rgb }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                           background: linear-gradient({{ bgGradientDirStd }}, rgba({{ bgGradientColor1|convert_rgb  }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
                                           opacity: {{ generalOpacity }};
                                           "></div>
      {% endif %}
      <div class="page-center pwr-post-header__info-box">
        <div class="pwr-post-item__author" id="hubspot-author_data" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
          {% if content.blog_post_author && module.layout.show_author -%}
          <a class="pwr-post-item__name" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a>
          {%- endif %}
          {% if module.layout.show_date -%}
          <span class="pwr-post-item__date">{{ content.publish_date_localized }}</span>
          {%- endif %}
          {% if module.layout.show_read_time -%}
          <span class="pwr-post-item__n-min-read">{{ module.translation.txt_read_time|format(get_min_by_words(content.post_body)) }}</span>
          {%- endif %}
        </div>
        <h1 class="pwr-post-header__title pwr--toc-ignore">{{ content.name }}</h1>
        {# {% if content.topic_list %}
                <p id="hubspot-topic_data">
                  {% for topic in content.topic_list %}
                  <a class="pwr--txt-light" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name }} {% if not loop.last%}, {% endif %}</a>
                  {% endfor %}
                </p>
                {% endif %}  #}
      </div>
    </div>
  {% elif module.layout.section_variant == 'reduced' %}
    <div class="pwr-post-featured pwr-post-featured--small lazyload"
         {% if bgColor %}style="background-color: rgba({{ bgColor }}, {{ bgOpacity }})"
          {% elif bgImg.src && bgImgPos != 'parallax' %}
            {# Lazyload for backgroundImage on the Left #}           
            data-bgset="{{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs) }} {{ theme.performance.images.image_width_xs }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_xs * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_xs * 2 }}w [(max-width: 575px)] | 
                        {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s) }} {{ theme.performance.images.image_width_s }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_s * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_s * 2 }}w [(max-width: 767px)] | 
                        {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m) }} {{ theme.performance.images.image_width_m }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_m * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_m * 2 }}w [(max-width: 991px)] | 
                        {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l) }} {{ theme.performance.images.image_width_l }}w, {{ resize_image_url(bgImg.src,theme.performance.images.image_width_l * theme.performance.retina_images.image_retina_scaling_factor) }} {{ theme.performance.images.image_width_l * 2 }}w [(max-width: 1199px)] |
                        {{ resize_image_url(bgImg.src,theme.performance.images.image_max_size * theme.performance.retina_images.image_retina_scaling_factor) }}"
            data-sizes="auto"
            style="background-size: cover;background-position: {{ bgImgPos }};"
         {% elif bgImg.src && bgImgPos == 'parallax' %}
          style="background-color: transparent;"
         {% elif bgGradientDir %}
          style="
                background: {{ bgGradientColor1 }};
                background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                background: linear-gradient({{ bgGradientDirStd }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
                "     
         {% endif %}
         >
      {% if bgImg.src && bgImgPos == 'parallax' %}
        <img data-src="{{ bgImg.src }}" class="pwr-parallax lazyload" alt="{{ bgImg.alt }}" width="{% if bgImg.width > 2000 %}2000{% else %}{{ bgImg.width }}{% endif %}">
      {% endif %}
      {% if bgVid %}
      <div class="pwr-video-background {{ bgVidPos }}">
        {% if isYtVid %}
        <div class="pwr-video-background__youtube {% if bgImgPos == 'parallax' %}pwr-parallax{% endif %}">
          <div class="player" data-property="{videoURL:'{{ module.style.youtube_link }}',containment:'self', autoPlay:true, mute:true, showControls: false, useOnMobile: true}"></div>
        </div>
        {% else %}
        <video autoplay playsinline muted loop src="{{ bgVid }}" class="{% if bgImgPos == 'parallax' %} pwr-parallax{% endif %} lazyload"></video>
        {% endif %}
      </div>
      {% endif %}

      {% if (bgImg.src || bgVid) && module.style.background_image_overlay == 'color' %}
      <div class="pwr--abs-full" style="background-color: rgba({{ bgOverlayColor }}, {{ bgOverlayOpacity }})"></div>
      {% elif (bgImg.src || bgVid) && module.style.background_image_overlay == 'gradient' %}
      <div class="pwr--abs-full" style="
                                           background: {{ bgGradientColor1 }};
                                           background: -moz-linear-gradient({{ bgGradientDirMozWeb }}, {{ bgGradientColor1 }} 0%, {{ bgGradientColor2 }} 100%);
                                           background: -webkit-linear-gradient({{ bgGradientDirMozWeb }}, rgba({{ bgGradientColor1|convert_rgb }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                           background: linear-gradient({{ bgGradientDirStd }}, rgba({{ bgGradientColor1|convert_rgb  }}, {{ bgGradientColor1Opacity }}) 0%, rgba({{ bgGradientColor2|convert_rgb  }}, {{ bgGradientColor2Opacity }}) 100%);
                                           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ bgGradientColor1 }}', endColorstr='{{ bgGradientColor2 }}',GradientType={{ bgGradientDirIEFb }} );
                                           opacity: {{ generalOpacity }};
                                           "></div>
      {% endif %}
      <div class="pwr-post-featured__info-box">
        <div class="pwr-post-item__author" id="hubspot-author_data" data-hubspot-form-id="author_data" data-hubspot-name="Blog Author">
          {% if content.blog_post_author && module.layout.show_author -%}
          <a class="pwr-post-item__name" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_post_author.display_name }}</a>
          {%- endif %}
          {% if module.layout.show_date -%}
          <span class="pwr-post-item__date">{{ content.publish_date_localized }}</span>
          {%- endif %}
          {% if module.layout.show_read_time -%}
          <span class="pwr-post-item__n-min-read">{{ module.translation.txt_read_time|format(get_min_by_words(content.post_body)) }}</span>
          {%- endif %}
        </div>    
        <h1 class="pwr-post-featured__title pwr-post-header__title--reduced pwr--toc-ignore" >{{ content.name }}</h1>
      </div>
    </div>
  {% endif %}         
</div>