

/* ===== HERO SECTION LAYOUT ===== */
@media (max-width: 1024px) {
   
    section[role="banner"] {
        flex-direction: column;
        position: relative;
    }
}

/* Scroll interno de opciones de grado */
#custom-grade-options {
    max-height: 300px;
    overflow-y: auto;
}

/* Opción seleccionada */
.selected-option {
    background-color: #F2F4F6 !important;
}

/* Checkboxes */
.checkbox-row input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.iti {
    width: 100%;
}





.title-shape {
    background-image: url('https://contenidos.innovaschools.edu.co/hubfs/Innova-Niza/image9.png'), url('https://contenidos.innovaschools.edu.co/hubfs/Innova-Niza/image9.png');
    background-size: 100% 100%, 100% 100%;
    background-position: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    z-index: 44;
}

.hero-banner .hsfc-Step__Content {
    padding-left: 24px !important;
    padding-right: 24px !important;
}
.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-Heading{
  font-family: Otterco, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size:24px !important;
  color:#003170;
  letter-spacing: 0.1em;
  line-height: 28px;
  text-align:center;
}
.hero-banner .hsfc-FormWrapper .hsfc-Step h3.hsfc-Heading {
  color:#f85245;
}

.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-DataPrivacyField .hsfc-RichText{
  font-size:14px;
}

.hero-banner .hsfc-FormWrapper .hsfc-Row  span a {
  text-decoration:underline;
  color: #0000ff;
}

.hero-banner .hsfc-FormWrapper .hsfc-Row  span a:hover {
    text-decoration:underline;
  color: #003bb7;

}

.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-DataPrivacyField .hsfc-Row{
  margin-bottom:8px;
}

.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-DataPrivacyField .hsfc-Row [type=checkbox]:checked+span, [type=checkbox]:not(:checked)+span{
font-size:14px;
}

.hero-banner .form-title, 
.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-DropdownOptions__Search{
  display:none;
  visibility:hidden;
}

.hero-banner .hsfc-FormWrapper .hsfc-Step .hsfc-DropdownOptions__List li:nth-last-child(-n+3) {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  background:#f2f4f6;
}

.hero-banner .hsfc-CheckboxField [type=checkbox]+span:before, [type=checkbox]:checked+span:after{
  border:1px solid #003170;
  border-radius:0;
  height: 20px;
  width: 20px;
}


.hero-banner .hsfc-CheckboxField [type=checkbox]:checked+span:after {
    background-color: #003b87;
    height: 14px;
    left: 7px;
    width: 14px;
}


.form-logo {
    max-width: 140px;
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: center; 
}

.form-logo img {
  object-fit: contain;
}

#banner-hero  [data-hsfc-id=Renderer] .hsfc-Step .hsfc-Step__Content {
  padding-top: 0;
}

[data-hsfc-id=Renderer] .hsfc-Row:first-child{	
  margin-bottom: 0px !important;
}



