<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  screenshotPath: ../images/template-previews/landing-page.png
  label: POWER THEME Password Prompt Page
-->
{% extends '../layouts/base.html' %}
{% block body %}
<main class="body-container-wrapper">
    <div class="body-container">
        {% module "hero" path='../../modules/sec-hero', 
            title='Circulares Innova Family', 
            description='', 
            layout={header_height:"x-small"}, 
            label='Hero' %}

        <div class="pwr-password-prompt pwr--light" style="background-color: rgba(244, 246, 250, 1.0)">
            <div class="page-center pwr--relative">
                <div class="row-fluid pwr-form">
                    <p class="pwr-password-prompt__desc">{% module "description", path="@hubspot/rich_text", label="Description" html='A password is required to view this page. Please enter the password below:', no_wrapper=True %}</p>
                    {% module 'password_prompt'
                    path='@hubspot/password_prompt',
                    extra_classes='password-prompt',
                    submit_button_text='UNLOCK', 
                    password_placeholder='Type password here'
                    label='Password Prompt' %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}