.content-wrapper {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section {
  padding: 80px 0;
}
@media (max-width: {{ contentWidth }}px) {
    .dnd-section {
        padding-left: {{ paddingHorDesktop }}px;
        padding-right: {{ paddingHorDesktop }}px;
    }
}
@media (max-width: {{ mqMaxMobile }}) {
    .dnd-section {
        padding-left: {{ paddingHorMobile }}px;
        padding-right: {{ paddingHorMobile }}px;
    }
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: {{ contentWidth }}px;
}

.dnd-section .dnd-column {
  padding: 0;
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}