#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 59, 135, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    overflow: hidden;
    touch-action: none;
}


#overlay:not(.popup-hidden) {
    opacity: 1;
    visibility: visible;
}

#popup {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    /* overflow: hidden; */
}

#popup > .relative {
    max-height: 95dvh;
    overflow-y: auto;
}



#popup:not(.hidden) {
    opacity: 1;
}

.popup-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  position: absolute !important;
  top: -9999px !important;
  left: 0;
  right: 0;
}


.popup-visible {
    overflow: hidden;
    /* height: 100vh; */
    position: relative;
}


@media (min-width: 1440px) {
  .img-sun {
    top: 130px;
  }
}

@media (min-width: 2560px) {
  .img-sun {
    top: 200px;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.animate-spin-slow {
  animation: spin 20s linear infinite;
}
