<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/template-previews/pwr-img_template-preview_about-us-01.jpg
  label: POWER THEME About Us 01
-->
{% extends "./layouts/base.html" %}
{% block body %}
<main class="body-container-wrapper">
    <div class="body-container">
        {% dnd_area 'dnd_area' class='', label='Main Content' %}
        {# Section Hero #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "hero" 
                full_width=true,
                width=12,
                path='../modules/sec-hero', 
                label='Hero',
                title_sel_heading='h1', 
                title='ABOUT US', 
                description='', 
                layout={full_width:false,header_height:"small",isSmall:true,title_extra_large:false}, 
                style={
                    background:"img_vid",
                    background_image:{alt:"header-grafik-test-1920-10",height:1186,'src':get_asset_url('../images/bgs/pwr-img_bg_team-portrait.jpg'),width:1920},
                    background_position:"top",
                    scheme:"dark"
                    }
                %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Hero #}

        {# Section Text #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "text" 
                full_width=true,
                width=12,
                path='../modules/sec-text', 
                label='Text',
                intro_to_title='POWER TEMPLATE PACK', 
                title='EXPERTLY CRAFTED TO MAKE YOUR LIFE EASIER', 
                left='', 
                layout={section_variant:"right"}, 
                style={background:"color"}
                %}
                {% module_attribute "right" %}
                With our text module you can create one- or two-column layouts (centered or not) or this layout with the title on the left and text on the right. All of our row modules have an optional intro title, title, padding settings, loads of different background options, like background-color, background-image, background-gradient, background-video (*.mp4 or Youtube) and it does not stop there.<br><br>With our 49 modules you are able to build up your website fast and fit the design to your branding easily. Our template comes with 69+ templates like this page to give you a head-start and lots of examples on how to use our modules.
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Text #}

        {# Section Company Values #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "company-values" 
                full_width=true,
                width=12,
                path='../modules/sec-company-values', 
                label='Company Values',
                values=[
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",img:{alt:"about-mission",height:1060,'src':get_asset_url('../images/boxes/values/pwr-img_value_01.jpg'),width:810},style:{background_position:"center"},title:"Mission"},
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",img:{alt:"about-vision",height:1060,'src':get_asset_url('../images/boxes/values/pwr-img_value_02.jpg'),width:810},style:{background_position:"center"},title:"Vision"},
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",img:{alt:"about-manifesto-2",height:1060,'src':get_asset_url('../images/boxes/values/pwr-img_value_03.jpg'),width:810},style:{background_position:"center"},title:"Manifesto"}
                ],
                label='Values',
                animation={section:{animation_type:"default",delay:50} }
                %}
                {% module_attribute "right" %}
                With our text module you can create one- or two-column layouts (centered or not) or this layout with the title on the left and text on the right. All of our row modules have an optional intro title, title, padding settings, loads of different background options, like background-color, background-image, background-gradient, background-video (*.mp4 or Youtube) and it does not stop there.<br><br>With our 49 modules you are able to build up your website fast and fit the design to your branding easily. Our template comes with 69+ templates like this page to give you a head-start and lots of examples on how to use our modules.
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Company Values #}

        {# Section Team #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "team" 
                full_width=true,
                width=12,
                path='../modules/sec-team', 
                label='Team',
                intro_to_title='', 
                title='MEET OUR AMAZING TEAM', 
                team=[
                        {img:{alt:"Laura Laurati",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_02.png'),width:285},job_title:"CEO, Managing Director",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Laura Laurati",phone:"+4940582291",animation:{animation_type:"default",delay:50}},
                        {img:{alt:"Jeff Lee",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_01.png'),width:285},job_title:"CTO, Head of Coding",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Jeff Lee",phone:"+4940582291",animation:{animation_type:"default",delay:200}},
                        {img:{alt:"Sandra Torres",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_03.png'),width:285},job_title:"Software Engineer",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Sandra Torres",phone:"+4940582291",animation:{animation_type:"default",delay:350}},
                        {img:{alt:"Charles Eden",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_04.png'),width:285},job_title:"Marketing Wizard",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Charles Eden",phone:"+4940582291",animation:{animation_type:"default",delay:500}},
                        {img:{alt:"Angela Whitter",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_03.png'),width:285},job_title:"Accounting",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Angela Whitter",phone:"+4940582291",animation:{animation_type:"default",delay:50}},
                        {img:{alt:"Oscar Martinez",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_04.png'),width:285},job_title:"Head of Accounting",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Oscar Martinez",phone:"+4940582291",animation:{animation_type:"default",delay:200}},
                        {img:{alt:"Ana Lucia",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_02.png'),width:285},job_title:"Human Resources",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"Ana Lucia",phone:"+4940582291",animation:{animation_type:"default",delay:350}},
                        {img:{alt:"G. Arbuckle",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_05.png'),width:285},job_title:"Part-Time Lasagna Eater",link:{url:{href:"https://maka-agency-4740449.hs-sites.com/power-theme-about-me",type:"EXTERNAL"}},name_:"G. Arbuckle",phone:"+4940582291",animation:{animation_type:"default",delay:500}}
                        ], 
                layout={isTabs:false}
                %}
                {% module_attribute "description" %}
                <p><span>This is one of the eye catching layout variants of our team module. Portrait your team members with their name, job position, photo and optionally group them by department.</span></p>
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Team #}

        {# Section Video #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "video" 
                full_width=true,
                width=12,
                path='../modules/sec-video', 
                label='Video',
                video_title='PLAY VIDEO', 
                content='', 
                youtube_link='https://www.youtube.com/watch?v=eyQsYlBc7Ew', 
                style={background:"img_vid",background_image:{alt:"bg-office-unsplash-01",height:1080,'src':get_asset_url('../images/bgs/pwr-img_bg_office-01.jpg'),width:1920},background_position:"parallax",overlay_color:{color:theme.colors.brand_colors.base_color_dark.color,opacity:20},scheme:"dark",youtube_link:""},
                animation={section:{animation_type:"default",delay:50} }
                %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Video #}
        
        {# Section Logo Slider #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "logo-slider" 
                full_width=true,
                width=12,
                path='../modules/sec-logo-slider', 
                label='Logo Slider',
                intro_to_title='', 
                title='OUR BUSINESS PARTNERS', 
                client_logo=[
                    {alt:"client-logo-10",height:300,'src':get_asset_url('../images/logos/transparent/pwr-img_logo_wobg_05.png'),width:300},
                    {alt:"client-logo-04",height:300,'src':get_asset_url('../images/logos/transparent/pwr-img_logo_wobg_06.png'),width:300},
                    {alt:"client-logo-05",height:300,'src':get_asset_url('../images/logos/transparent/pwr-img_logo_wobg_07.png'),width:300},
                    {alt:"client-logo-06",height:300,'src':get_asset_url('../images/logos/transparent/pwr-img_logo_wobg_08.png'),width:300}
                ], 
                layout={centered:true}
                %}
                {% module_attribute "description" %}
                We love the collaboration with our business partners &amp; vendors and therefore proudly present them here with the client logo module.
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Logo Slider #}

        {# Section Testimonial #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "testimonial" 
                full_width=true,
                width=12,
                path='../modules/sec-testimonial', 
                label='Testimonial',
                intro_to_title='', 
                title='', 
                description='', 
                slider={autoplay:false}, 
                testimonial=[{avatar:{alt:"team-small-07",height:285,'src':get_asset_url('../images/portraits/square/pwr-img_portrait_square_04.png'),width:285},job_title:"Astronaut, Apollo 17",name_:"Gene Cernan",quote:"When you head on out to the Moon, in very short order, and you get a chance to look back at the Earth, that horizon slowly curves around in upon himself, and all of sudden you are looking at something that is very strange, but yet is very, very familiar, because you are beginning to see the Earth evolve."}], 
                style={
                    background:"color",
                    scheme:"light"
                    },
                animation={section:{animation_type:"default",delay:50} }
                %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Testimonial #}

        {# Section Map #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "map" 
                full_width=true,
                width=12,
                path='../modules/sec-map', 
                label='Map',
                intro_to_title='', 
                title='OUR OFFICE', 
                desc='Headquarters, Munich', 
                contact=True, 
                map_embed_code='<iframe title="Map Location" src="https://snazzymaps.com/embed/132243" width="100%" height="100%" style="border:none;"></iframe>', 
                phone='+49 89 123 456', 
                phone_link='+4989123456', 
                layout={full_width:true,section_height:590}, 
                style={scheme:"dark"},
                animation={section:{animation_type:"default",delay:50} }
                %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Map #}

        {# Section Timeline #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "timeline" 
                full_width=true,
                width=12,
                path='../modules/sec-timeline', 
                label='Timeline',
                intro_to_title='POWER TIMELINE', 
                title='OUR COMPANY HISTORY',
                description='', 
                timeline=[
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.&nbsp;",img:{alt:"timeline-01",height:600,'src':get_asset_url('../images/boxes/timeline/pwr-img_timeline_01.jpg'),width:900},pos:"center",title:"2015  -  COMPANY START",animation:{animation_type:"default",delay:50} },
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.&nbsp;",img:{alt:"bg-people-celebrating-796356481",height:1330,'src':get_asset_url('../images/boxes/timeline/pwr-img_timeline_02.jpg'),width:1920},pos:"center",title:"2016  -  FIRST MILESTONE",animation:{animation_type:"default",delay:50} },
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.&nbsp;",img:{alt:"timeline-03",height:600,'src':get_asset_url('../images/boxes/timeline/pwr-img_timeline_03.jpg'),width:900},pos:"center",title:"2018  -  SECOND MILESTONE",animation:{animation_type:"default",delay:200} },
                    {desc:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.&nbsp;",img:{alt:"bg-office-unsplash-02",height:1080,'src':get_asset_url('../images/boxes/timeline/pwr-img_timeline_04.jpg'),width:1920},pos:"center",title:"2020  -  TODAY",animation:{animation_type:"default",delay:200} }
                ]
                %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Timeline #}

        {# Section Form #}
        {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
            {% dnd_module module "form" 
                full_width=true,
                width=12,
                path='../modules/sec-form', 
                label='Form',
                intro_to_title='GET IN TOUCH', 
                title='LET\'S HAVE A CHAT AND TALK ABOUT YOU', 
                description='', 
                layout={centered:true,section_variant:"vert_narrow"}, 
                style={background:"color",background_color:{color:theme.colors.brand_colors.primary_color.color,opacity:100},btn_style:"pwr-btn--regular-solid-primary-background",scheme:"dark"},
                animation={section:{animation_type:"default",delay:50} }
                %}
                {% module_attribute "form" is_json=True %}
                {"form_id":"e16b6989-f90b-4528-9e17-2a8143f0e80c","form_type":"HUBSPOT","message":"Thanks for submitting the form.","response_type":"inline"}
                {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {# End Section Form #}

        {% end_dnd_area %}
    </div>
</main>
{% endblock body %}
