<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/template-previews/pwr-img_template-preview_lp-02-big-form.jpg
  label: POWER THEME Landing Page Big Form
-->
{% extends "./layouts/base.html" %}
{% block body %}
<main class="body-container-wrapper">
    <div class="body-container">
        {% dnd_area 'dnd_area' class='', label='Main Content' %}
            {# Section Hero #}
            {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
                {% dnd_module module "hero" 
                    full_width=true,
                    width=12,
                    path='../modules/sec-hero', 
                    label='Hero',
                    title='LANDING PAGE - BIG FORM', 
                    title_sel_heading='h1', 
                    description='', 
                    layout={full_width:false,header_height:"small",isSmall:true,title_extra_large:false}, 
                    style={
                        background:"img_vid",
                        background_color_fallback:{color:theme.colors.power.dark_scheme.background.background_color.color,opacity:100},
                        background_image:{alt:"Man with newspaper and messenger bag",
                        height:1080,
                        'src':get_asset_url('../images/bgs/pwr-img_bg_man-with-bag.jpg'),width:1920},
                        background_image_overlay:"color",
                        background_image_position:"parallax",
                        background_position:"top",
                        desc_large:true,
                        overlay_color:{color:theme.colors.brand_colors.base_color_dark.color,opacity:60},
                        scheme:"dark",
                        title_extra_large:false
                        }
                    %}
                {% end_dnd_module %}
            {% end_dnd_section %}
            {# End Section Hero #}

            {# Section Device Mockup #}
            {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
                {% dnd_module module "device-mockup" 
                    full_width=true,
                    width=12,
                    path='../modules/sec-device-mockup', 
                    label='Device Mockup',
                    intro_to_title='', 
                    title='A COMPREHENSIVE EBOOK', 
                    title_sel_heading='h2', 
                    mockup={alt:"book mockup",height:512,'src':get_asset_url('../images/mockups/pwr-img_mockup_book.jpg'),width:418}, 
                    layout={content_width:60,mockup_width:33,section_variant:"mockup_right"}
                    %}
                    {% module_attribute "description" %}
                    <p>These are just some examples for Landing Pages. You have the freedom to use all POWER modules you see on other pages of this demo to create the perfect Landing Page for your use-case. Lorem ipsum dolor sit aet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    {% end_module_attribute %}
                {% end_dnd_module %}
            {% end_dnd_section %}
            {# End Section Device Mockup #}

            {# Section Form #}
            {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
                {% dnd_module module "form" 
                    full_width=true,
                    width=12,
                    path='../modules/sec-form', 
                    label='Form',
                    intro_to_title='', 
                    title='GRAB YOUR COPY FOR FREE', 
                    title_sel_heading='h2', 
                    description='<span>required fields *</span>', 
                    style={background:"color",background_color:{color:theme.colors.brand_colors.primary_color.color,opacity:100},btn_style:"pwr-btn--regular-solid-primary-background",scheme:"dark"},
                    animation={section:{animation_type:"default",delay:50}}
                    %}
                    {% module_attribute "form" is_json=True %}
                    {"form_id":"3bc0a2dd-9eb0-4087-8f72-adf77d0a5878","form_type":"HUBSPOT","redirect_url":"https://maka-agency-4740449.hs-sites.com/power-theme-lp-thank-you","response_type":"inline"}
                    {% end_module_attribute %}
                {% end_dnd_module %}
            {% end_dnd_section %}
            {# End Section Form #}

            {# Section Services #}
            {% dnd_section full_width=true, padding={'top': 0,'bottom': 0,'left': 0,'right': 0} %}
                {% dnd_module module "services" 
                    full_width=true,
                    width=12,
                    path='../modules/sec-services', 
                    label='Services',
                    intro_to_title='', 
                    title='OUR RELATED SERVICES', 
                    title_sel_heading='h2', 
                    services=[
                        {description:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.",icon:{name:"code",type:"SOLID",unicode:"f121"},icon_img:{'src':""},link:{url:{content_id:null,href:"https://maka-agency-4740449.hs-sites.com/power-theme-service-single",type:"EXTERNAL"}},style:{icon_color:{opacity:100}},title:"Web Development",translation:{txt_link:"More about this service"},animation:{animation_type:"default",delay:50}},
                        {description:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.",icon:{name:"list",type:"SOLID",unicode:"f03a"},icon_img:{'src':""},style:{icon_color:{opacity:100}},title:"Project Management",translation:{txt_link:"More about this service"},link:{url:{content_id:null,href:"https://maka-agency-4740449.hs-sites.com/power-theme-service-single",type:"EXTERNAL"},open_in_new_tab:false,no_follow:false},animation:{animation_type:"default",delay:200}},
                        {description:"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.",icon:{name:"bullhorn",type:"SOLID",unicode:"f0a1"},icon_img:{'src':""},style:{icon_color:{opacity:100}},title:"Marketing",translation:{txt_link:"More about this service"},link:{url:{content_id:null,href:"https://maka-agency-4740449.hs-sites.com/power-theme-service-single",type:"EXTERNAL"},open_in_new_tab:false,no_follow:false},animation:{animation_type:"default",delay:350}}
                    ], 
                    layout={centered:false,section_variant:"style-3"}, 
                    style={background:"color"}
                    %}
                    
                    {% module_attribute "description" %}
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit aet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                    {% end_module_attribute %}
                {% end_dnd_module %}
            {% end_dnd_section %}
            {# End Section Services #}

        {% end_dnd_area %}
    </div>
</main>
{% endblock body %}