<div class="block lg:hidden relative py-10 bg-[#ffffff]">
  <div id="cinta" class="absolute w-[142px] left-0 top-[-36px] pointer-events-none z-1">
    <img class="w-full h-full object-contain"
         src="https://8117711.fs1.hubspotusercontent-na1.net/hubfs/8117711/new-home-innova/cinta-naranja-home.png" data-animate="figure-zoom-in" data-animate-start="top 95%" data-animate-end="bottom 95%"/>
  </div>
</div>
<section id="section-schools-network" 
         class="relative overflow-x-clip min-h-[660px] school-network-section bg-[#ffffff]">
  <div class="container mx-auto px-4 pt-20 pb-[30px] lg:py-16 lg:px-[80px]">
    <div class="grid grid-cols-1 lg:!grid-cols-2 gap-0 md:gap-12 items-start 2xl:pb-[48px]" id="valores-content-reverse"
      data-animate="text-fade-up">
     <!-- Columna izquierda: títulos, descripción y lista -->
      <div class="content-column">
        <!-- Títulos y descripción -->
        <div class="mb-[24px]">
          <h3
            class="font-['Otterco'] text-[32px] leading-[32px] tracking-[3.2px] uppercase font-bold italic md:text-[44px] md:leading-[52px] tracking-[4.4px] text-[#f85245]"
             id="valores-subtitle-reverse"
            data-animate="fade-up">
            {{ module.main_title }}
          </h3>
          <h2
            class="font-['Josefin Sans'] text-[24px]  tracking-[2.4px] uppercase font-bold md:text-[32px] md:leading-[38px] md:tracking-[3.2px] text-[#044C8D]"
             data-animate="fade-up">
             {{ module.subtitle }}
          </h2>
        </div>
        <div class="text-[#003b87] [&_span]:text-[16px] [&_span]:leading-[18px] [&_span]:md:text-[18px] [&_span]:md:leading-[22px] mb-8 !mx-0"
          id="description-network-school" data-animate="fade-up">
          {{ module.description }}
        </div>

        <!-- Acordeones -->
        <div id="valores-acordeones-reverse" class="space-y-2 mt-[32px]" data-animate="fade-up">
         
          {% set snake = item.item_title|lower|replace(' ', '_') %}
          <div 
             class="accordion-item-reverse  rounded-lg transition-all duration-300"
             data-accordion-id="{{ item.item_title|slugify }}" 
             data-index="{{ loop.index0 }}"
           >
            {% for list_item in module.list_items %}
            <button 
                type="button" 
                    id="ValoresAgre_{{ snake }}"
                class="button-reverse flex w-full items-stretch gap-[16px] text-left group ValoresAgre_elementos"
                aria-expanded="false"
            >
              <div class="flex flex-col items-center flex-grow max-w-[48px] max-h-[48px]">
                <img src="{{ list_item.network_list_item_icon.src }}" class="w-full h-full object-contain" alt="{{ list_item.network_list_item_icon.alt }}" />

              </div>
              <div class="flex-1 flex flex-col w-full">
                <h4 class="font-['Otterco'] text-[28px] leading-[28px] tracking-[2.8px] md:text-[32px] md:leading-[34px] md:tracking-[3.2px] uppercase font-bold text-[#003b87] accordion-title-reverse accordion-title italic"
                  >
                  {{ list_item.network_list_item_title }}
                </h4>
                <div class="accordion-content-reverse ">
                  <div class="pt-[8px] pb-[32px] md:pb-[28px] accordion-text">
                    <p class="text-[#F85245] font-bold text-[16px] leading-[18px] md:text-[18px] md:leading-[22px]">
                      {{ list_item.network_list_item_subtitle }}
                    </p>
                  </div>
                </div>
              </div>
            </button>
              {% endfor %}
          </div>
        </div>
      </div>
      
      <!-- Columna derecha: imagen gif -->
      <div id="valores-carousel-col-reverse" class="relative block slider-column h-full flex items-center" data-animate="fade-up">
        <div class="image-wraper relative  slider-desktop">
                <div
                  class="relative h-auto lg:max-w-[652px] lg:mx-auto overflow-hidden rounded-tl-[80px] rounded-tr-[8px] rounded-br-[80px] rounded-bl-[8px]  w-full xl:w-auto xl:h-auto">
                  <img src="{{ module.image_schools.src }}" 
                       class="w-full h-full object-contain xl:rounded-tl-[80px] xl:rounded-tr-[8px] xl:rounded-br-[80px] xl:rounded-bl-[8px] xl:object-fill md:aspect-[4/5] md:object-cover object-cover aspect-[1/1] lg:aspect-auto" 
                       alt="{{ module.image_schools.alt }}" />
                </div>
        </div>
      </div>
    </div>
      <div class="w-full my-[30px] xl:my-[60px]">
        <picture>
          <source media="(max-width:1024px)" srcset="{{ module.image_student_mobile.src }}">
          <source media="(min-width:1024px)" srcset="{{ module.image_student_desktop.src }}">
          
          <img
            src="https://8117711.fs1.hubspotusercontent-na1.net/hubfs/8117711/Banner-linea-de-tiempo.jpg"
            alt="Imagen estudiante"
            class="w-full"
          />
        </picture>
</div>


    <!-- Sección de Aliados -->
    <div class="pt-[48px] md:pt-0 mx-auto max-w-[473px] overflow-hidden md:pt-[40px]">
      <p class="text-[28px] leading-[33px] tracking-[2.8px] uppercase text-[#F85245] font-bold text-center italic pb-[30px]"
         style="font-family: 'Otterco', sans-serif; font-size:28px; line-height:33px; letter-spacing:2.8px;">
        {{ module.allies_title }}
      </p>

     <div class="schools-network-swiper" >  
         <div class="swiper-wrapper">
            {% for allie in module.allies %}
            <div class="swiper-slide">
                <img src="{{ allie.allie_image.src }}" 
                     class="w-full h-full object-contain max-w-[147px] max-h-[58px] mx-auto" 
                     alt="{{ allie.allie_image.alt }}" />
            </div>
            {% endfor %}
         </div>
      </div>
    </div>
        <div class="pt-[40px] md:px-[134px] xl:hidden">
      <a style="color:#ffffff;" href="#section-form-enrollment" id="primary-button"
        class="cta-sing-up relative group inline-flex justify-center items-center gap-2 uppercase px-[18px] pt-[12px] pb-[12px] bg-[#F85245] rounded-full tracking-normal transition-colors duration-300 navbar-estilos overflow-hidden CTA_Inscribete w-full"
        role="tab">
        <span
          class="absolute inset-0 bg-[#FDB731] group-active:bg-[#FF6D62] transition-[clip-path] duration-1000 ease-out [clip-path:circle(0px_at_10%_0px)] group-hover:[clip-path:circle(150%_at_50%_0px)]"></span>
        <span id="hero-cta-registration" class="relative z-10 font-['Otterco'] uppercase texture-image"
          style="color:#ffffff;" id="primary-button-text">
          {{ module.button_text }}
        </span>
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.0186 13.8545L8.31152 12.3408L8.31738 12.3271L8.30469 12.3428L6.32422 14.7568H6.32324C6.22632 14.8807 6.095 14.9433 5.92773 14.9434C5.85748 14.9434 5.79808 14.9325 5.75 14.9111H5.74902C5.64668 14.8734 5.56489 14.8096 5.50293 14.7207C5.44095 14.6318 5.41022 14.5335 5.41016 14.4258V11.5693L12.4805 2.9043L12.4707 2.89648L12.4717 2.89551L3.72461 10.4639L0.495117 9.14062H0.494141C0.394229 9.10278 0.317388 9.04652 0.263672 8.97266C0.209939 8.89874 0.179015 8.80624 0.170898 8.69531L0.171875 8.61719C0.176922 8.5414 0.195248 8.4736 0.227539 8.41406C0.270558 8.33479 0.337801 8.26912 0.429688 8.21777L14.0508 0.360352C14.1317 0.311872 14.218 0.287109 14.3096 0.287109C14.4173 0.287179 14.5144 0.316762 14.6006 0.375977C14.6897 0.440796 14.7517 0.516633 14.7881 0.602539C14.8244 0.688648 14.8346 0.786323 14.8184 0.894531L12.7236 13.4668C12.6967 13.623 12.6106 13.7446 12.4648 13.8311C12.3895 13.8741 12.3056 13.8955 12.2139 13.8955C12.1548 13.8955 12.089 13.8816 12.0186 13.8545Z"
            fill="white" stroke="white" stroke-width="0.012278" />
        </svg>
      </a>
    </div>
  <div id="sticky-cta-mobile-show" class=" relative bottom-0 left-0 right-0 z-[10] translate-y-full transition-transform duration-500 ease-out md:hidden">
  </div>
  </div>
</section>


{# JavaScript for interactions #} {% require_js position="footer" %}




{% end_require_js %}